<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     
    <!--<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <h2 style = 'text-align:center; margin-left: 600px; font-family: "Comic Sans MS", "Comic Sans", cursive'>Speech Analyzer</h2></a>
    </nav> -->
    {% block head %}{% endblock %}
  </head>
  <body style="background-color:whitesmoke">
      <div class="row" style="margin-left: 200px; margin-right: 200px; margin-top: 50px;border-radius: 10px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1); background-color: white">
          <div class="col-sm-4 "><h3 style = 'text-align:center; padding-top: 20px;font-family: "Comic Sans MS", "Comic Sans", cursive'>Speech Analyzer</h3> <br> <p style="text-align: center">Simple ML App</p></a></div>
          <div class="col-sm-8">
            <p style="color:grey; padding-top: 10px; padding-left: 10px">This is a generic Toxicity analysis classifier for texts in English. It works great in speech and opinion kind of texts. If you are not sure of which sentiment analysis classifier to use, use this one. Following are the levels of Toxicity.</p>
            <br>
            <button type="button" class="btn btn-outline-info" style="margin-top:-30px;">Toxic</button>
            <button type="button" class="btn btn-outline-info" style="margin-top:-30px">Severe Toxic</button>
            <button type="button" class="btn btn-outline-info" style="margin-top:-30px">Obsense</button>
            <button type="button" class="btn btn-outline-info" style="margin-top:-30px">Threat</button>
            <button type="button" class="btn btn-outline-info" style="margin-top:-30px">Insult</button>
            <button type="button" class="btn btn-outline-info" style="margin-top:-30px">Identity Hate</button>
            <button type="button" class="btn btn-outline-info" style="margin-top:-30px">Normal</button>
      
          </div>
        </div>
    {% block body %}
    
    {% endblock %}
  </body>
</html>